@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer base {
  :root {
    --background: rgb(228, 230, 218);
    --foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;

  }

  .dark {
    --background: rgb(228, 230, 218);
    --foreground: 60 9.1% 97.8%;

  }
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }
  .text-foreground {
    color: var(--foreground);
  }
  .border-border {
    border-color: var(--border);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  * {
    @apply border-border;
  }
}
